#gamelist {
  width   : 98%;
  margin  : 1%;
}

#gamelist table, #gamelist h2 {
  margin-left   : auto;
  margin-right  : auto;
}

#gamelist form {
  display :  inline;
}

#presentation p {
  font-style  : italic;
}

thead {
  background-color  : #E7F1F7;
  border-color      : #ABABAB;
  border-style      : solid;
  border-width      : 1px 1px 1px 0;
  color             : #000;
  padding           : 2px;
}

th {
  font-weight: bold;
}

tbody tr:hover {
  background-color  : #f3f9fc;
}

tr a {
  text-decoration : none;
  color           : #000;
}

tr a:hover {
  text-decoration : underline;
}
