<% @title = 'Password lost' %>
<%= erb :'template/head' %>

  <% if @output == Status::ALREADY_LOGGED %>
    <p>You are already logged.</p>
  <% elsif @output == Status::EMPTY_REQUIRED_FIELD %>
    <p>All the fields are required.</p>
  <% elsif @output == Status::SUCCESS %>
    <% redirect '/user/login' %>
  <% elsif @output == Status::FAIL %>
    <p>An error has occurred.</p>
  <% else %>
      <form action="<%= @current_url %>" method="post" class="center">
        <table>
          <tr>
            <td>Username</td>
            <td>
              <input type="text" name="username" placeholder="username"  />
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>
              <input type="email" name="email" placeholder="email"  />
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= csrf_tag %>
              <input type="submit" value="Recover" />
            </td>
          </tr>
        </table>
      </form>
  <% end %>

<%= erb :'template/footer' %>
