<%
  get_tags.each { |tag|
%>

  <% if @game && @game.tag == tag %>
    <option value="<%= tag %>" selected><%= tag %></option>
  <% else %>
    <option value="<%= tag %>"><%= tag %></option>
  <% end %>
<% } %>
