    </section>
    
    <footer>
      <p>
        MyGameList &copy; 2013<br />
        
        Thanks to
          <a href="http://myanimelist.net" target="_blank">MyAnimeList</a>
        for the initial concept.<br />
        
        Proudly made by
          <a href="http://www.giovannicapuano.net" target="_blank">Giovanni Capuano</a>
        with
          <a href="http://www.ruby-lang.org"  target="_blank">Ruby</a>,
          <a href="http://www.sinatrarb.com"  target="_blank">Sinatra</a>,
          <a href="http://www.datamapper.org" target="_blank">Datamapper</a>,
          <a href="http://jigsaw.w3.org/css-validator/validator?uri=<%= @current_url %>" target="_blank">CSS3</a>,
          <a href="http://validator.w3.org/check?uri=<%= @current_url %>" target="_blank">HTML5</a>.<br />
          
        Soon on
          <a href="http://www.github.com">GitHub</a>.
      </p>
    </footer>
  
  </body>
</html>
